.navbar-brand:hover {
  color: blue;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: white;
  z-index: 9999;
}

.hero-section-heading {
  font-size: 72px;
  font-weight: 300;
}

.circle-container {
  position: relative;
  margin-top: 40px;
  width: 500px;
  height: 500px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(254, 0, 255, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 50%;
}

.first-x-class {
  position: absolute;
  top: 85%;
  left: 5%;
  color: #2937f0;
  transform: rotate(-10deg);
}

.phone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-container::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 5px;
  right: 7%;
  border-radius: 50%;
  background-color: #2937f0;
}

.testimonial-container {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(254, 0, 255, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.second-x-class {
  position: relative;
  color: #2937f0;
  transform: translate(-50%, -50%);
  top: 10px;
  left: 30px;
  transform: rotate(10deg);
  z-index: 20;
}

.circle-container2 {
  position: relative;
}

.circle-container2::before {
  content: "";
  position: absolute;
  top: 80%;
  left: -10%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #2937f0;
}

.second-circle{
  position: relative;
  width: 300px;
  height: 300px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(254, 0, 255, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );

  border-radius: 50%;
  z-index: -1;
}

.circle-img{
  position: relative;
  z-index: 50;
}

.web-design-title {
  font-size: 56px;
  font-weight: 300;
}

.sb-container {
  position: relative;
  background-image: url("/assets/wp3077675.jpg");
  width: 100%;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sb-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.723);
}

.sb-content {
  position: absolute;
  z-index: 20;
}

.sb-title {
  font-size: 80px;
  font-weight: 300;
}

.app-container {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(254, 0, 255, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background-size: cover;
}

.kvkk-text {
  text-decoration: none;
}

.modal-header {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(254, 0, 255, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
